.bodyElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $vlGray;
    min-height: 100vh;
    padding-top: toRem(30);
    box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.2);

    &Search {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: toRem(20);
    }

    &Cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: toRem(20);
        margin-top: toRem(40);
    }
}

@media (min-width: $breakDesktop) {
    .bodyElementsSearch {
        flex-direction: row;
        padding: 0 toRem(100);
    }
}