.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toRem(30) toRem(20);
    font-family: $mainFont;
    background-color: $white;
    color: $vdBlueLight;
    position: fixed;
    z-index: 999999;
    width: 100%;

    &__text {
        font-size: toRem(16);
    }


    &__modeSelect {
        display: flex;
        align-items: center;
        gap: toRem(10);
        cursor: pointer;

        &Text {
            font-size: toRem(15);
            font-weight: 600;
        }
        
    }
}

@media (min-width: $breakDesktop) {
    .header {
        padding: toRem(30) toRem(100);

        &__text {
            font-size: toRem(24);
        }

        &__modeSelectText {
            font-size: toRem(18);
        }
    }
}